


/* isme jo code likhe hai use index.css paste kre  */

/* video number 15 */
/* css style  */

/* 
.heading{
    color: rgb(185, 16, 109);
} */




/* 3. challenge  */
/* video number 17 */
/* iske code challenge file me hai  */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

div {
    text-align: center;
    padding-top: 11rem;
}

h1{
    color: coral;
    background-color: blanchedalmond;
    display: inline;
    padding: 18px;
    border-radius: 25px;
} */
























